/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */
.mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 960px;
  }
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/ProximaNova-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ProximaNova-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/ProximaNova-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/ProximaNova-SemiboldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/ProximaNova-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ProximaNova-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/ProximaNova-Black.otf") format("opentype");
}

* {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300 !important;
  text-shadow: none;
  letter-spacing: 1px;
}

a:hover {
  cursor: pointer !important;
}

.site-wrapper {
  background-image: url(../img/background.jpg);
  background-size: cover;
}

.site-wrapper .site-wrapper-inner {
  background-color: rgba(84, 95, 171, 0.8);
}

.masthead .inner h3.masthead-brand img {
  width: 100px;
  height: auto;
}

.masthead .inner ul.nav li a {
  font-size: 13px;
}

.masthead .inner ul.nav li.active a, .masthead .inner ul.nav li:hover a {
  border-bottom: none;
}

.cover h1 {
  font-weight: 500 !important;
  letter-spacing: 10px;
}

.cover a.btn {
  background: none;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.cover a.btn:hover {
  background: white;
  color: #545fab;
}

.mastfoot {
  font-size: 12px;
}

.mastfoot i.fa-heart {
  color: red;
}
