<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome to Indux</title>

    <!-- <link rel="stylesheet" href="/assets/css/bootstrap.css"> -->

<link rel="stylesheet" href="./assets/css/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./assets/vendor/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="./assets/css/ie10-viewport-bug-workaround.css">
<link rel="stylesheet" href="./assets/css/cover.css">
<link rel="stylesheet" href="./assets/css/main.css">



  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">
        <img src="./assets/img/indux-logo-horizontal-inverse.svg" alt="">
    </h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i> Dribbble</a></li>
        <li><a href="#"><i class="fa fa-behance"></i> Behance</a></li>
        <li><a href="#"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </nav>
  </div>
</div>

