<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">
        <img src="/assets/img/indux-logo-horizontal-inverse.svg" alt="">
    </h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i> Dribbble</a></li>
        <li><a href="#"><i class="fa fa-behance"></i> Behance</a></li>
        <li><a href="#"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </nav>
  </div>
</div>
